@import "../../styles.scss";

:host {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  cursor: pointer;

  button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    &.player1 {
      background-color: $background-player1;
    }

    &.player2 {
      background-color: $background-player2;
    }
  }
}
