@import "../../styles.scss";

:host {
  button {
    cursor: pointer;
    background-color: $background-start;
    padding: 0.5rem;
    color: white;
    border-radius: 0.2rem;
  }

  .player {
    margin-top: 1.5rem;
  }

  .board {
    display: flex;
    flex-direction: row;
    width: 15rem;
    margin-top: 2rem;
    max-width: 15rem;
    flex-wrap: wrap;
  }
}
