/* You can add global styles to this file, and also import other style files */
$background-start: #28a745;
$background-player1: #007bff;
$background-player2: #ffc107;

html,
body {
  height: 100%;
  margin: 0;
}
